@import 'imports'
@import 'primitives/panel'

.modal
  width: 500px
  border-radius: 5px
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .05)

.modal-header
  +acts_as_panel_header
  border-radius: 5px 5px 0 0

.modal-body
  +acts_as_panel_body
  padding: 0
  border-radius: 0 0 5px 5px

.modal-buttons
  border-top: 1px solid $blue_medium
  padding: 15px
  height: 25px

p.modal-text
  margin: 15px

