javascript:
  var _cp = {trackerId: 9282};
  (function(d){
      var cp=d.createElement('script');cp.type='text/javascript';cp.async = true;
      cp.src='//tracker.cartprotector.com/cartprotector.js';
      var s=d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cp, s);
  })(document);

