@import 'public/new_template/imports'

.big_button
  display: inline-block
  margin: 5px 0 10px
  padding: 0 50px
  height: 67px
  text-align: center
  line-height: 65px
  font-size: 25px
  +orange_button

  b
    font-weight: bold
    margin: 0 5px
