@import 'public/new_template/imports'

.header
  border-top: 2px solid #7390B5
  border-bottom: 1px solid $bd
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)

.header-inner
  +acts_as_layout_row
  height: 70px
  text-align: center

.header-logo
  padding: 13px 0 15px
  height: 100%
  width: auto
