@import 'public/new_template/imports'

.header
  border-top: 2px solid #7390B5
  border-bottom: 1px solid $bd

.header-inner
  margin: 0 auto
  height: 70px
  max-width: 1280px
  text-align: center

.header-logo
  padding: 15px
  height: 100%
  width: auto
