@import 'public/new_template/imports'

.pros_cons
  border-bottom: 1px solid $bd

.pros_cons-inner
  +acts_as_layout_row
  padding-top: 50px
  padding-bottom: 40px

.pros_cons-title
  +acts_as_section_title

.pros_cons-description
  +acts_as_section_title
  margin: 40px 0
  font-size: 17px
  line-height: 28px

.pros_cons-subtitle
  +acts_as_section_title
  font-size: 22px
  line-height: 30px

.pros_cons-table
.pros_cons-cell
.pros_cons-header
  .pros_cons-cell

.pros_cons-body
.pros_cons-row
.pros_cons-row_title
  .pros_cons-cell

.pros_cons-cell_title
.pros_cons-cell_description
.pros_cons-row.is-last
.pros_cons-button
