.filters
  = link_to 'По популярности', positions_path, class: "flat_button #{'is-active' if current_page?(positions_path)}"
  = link_to 'Избранное', favorite_positions_path, class: "flat_button #{'is-active' if current_page?(favorite_positions_path)}"
