<div class="flash_message is-<%- type %>" data-view="app#flash_message">
  <div class="flash_message-inner">
    <%- message %>
    <span class="flash_message-close fl_r" data-role="flash_message-close">
      Закрыть
    </span>
  </div>
</div>
