@import 'admin/imports'
@import 'admin/primitives/flexible'

.page
  .layout.for-logged_out_user &
    text-align: center

.page-title
  position: absolute
  top: 15px
  left: 15px
  right: 0
  padding: 10px 15px
  height: 25px
  font-size: $header_font_size
  line-height: 25px
  background: $blue_medium
  color: $blue_dark
  text-shadow: 0 1px rgba(255, 255, 255, .75)
  border-radius: 5px
  +acts_as_flexible_container

  .layout.for-logged_out_user &
    left: 0

  > span
    +text_overflow
    +acts_as_flexible_left

  .fl_r
    +acts_as_flexible_right

.page-body
  min-height: 500px
  background: $blue_light
  border-radius: 5px
  color: $text_color
  padding: 15px

.page-empty_page_message
  margin: -5px 0 30px

p.page-text
  margin: -5px 0 30px

  &.has-margins
    margin: 15px

  &:last-child
    margin-bottom: 0
