<div class="popup" data-role="popup">
  <div class="popup-arrow"></div>
  <div class="popup-arrow_white"></div>
  <div class="popup-inner">
    <div class="popup-body">
      <%= html %>
    </div>
  </div>
</div>
