- content_for :title do
  = @landing.html_title

- content_for :meta_description do
  meta name='description' content=@landing.meta_description

- content_for :stylesheet do
  = stylesheet_link_tag 'public/new_template/all.css'

- content_for :script do
  = javascript_include_tag 'http://img.apishops.org/SinglePageWebsites/custom/js/apishopsForm.utf8.js'

= render 'public/landings/templates/new/header', landing: @landing
= render 'public/landings/templates/new/main_headline', landing: @landing
= render 'public/landings/templates/new/description', landing: @landing
= render 'public/landings/templates/new/advantages', landing: @landing
= render 'public/landings/templates/new/pros_cons', landing: @landing
= render 'public/landings/templates/new/guarantees', landing: @landing
= render 'public/landings/templates/new/instructions', landing: @landing

= render 'public/landings/templates/new/middle_page_cta', landing: @landing
= render 'public/landings/templates/new/reviews', landing: @landing
= render 'public/landings/templates/new/facts', landing: @landing
= render 'public/landings/templates/new/how_we_work', landing: @landing

= render 'public/landings/templates/new/faq', landing: @landing
= render 'public/landings/templates/new/footer_cta', landing: @landing
= render 'public/landings/templates/new/footer', landing: @landing

= render 'public/shared/modals'

script id='shipping' type='text/template' data-title='Информация о доставке'
  = render 'public/shared/shipping', landing: @landing

script id='order_form' type='text/template' data-title='Оформление заказа'
  = render 'public/shared/order_form_modal', landing: @landing

script id='about' type='text/template' data-title='О нашем интернет-магазине'
  = render 'public/shared/about', landing: @landing
