@import 'imports'

=acts_as_panel_header
  overflow: hidden
  border: 1px solid $blue_medium
  padding: 9px 15px
  height: 25px
  font-size: $header_font_size
  line-height: 25px
  background: $blue_medium
  color: $blue_dark
  white-space: nowrap
  text-shadow: 0 1px rgba(255, 255, 255, .75)

  .fl_r
    margin-left: -100%

=acts_as_panel_body
  margin-top: -1px
  border: 1px solid $blue_medium
  background: #fff
  color: #555
  overflow: hidden
