@import 'imports'
@import 'primitives/panel'

.panel

  &.for-new_item
    margin-bottom: 15px
    border-radius: 5px
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .15)

    .panel-header
      border: 1px dashed $blue_dark

    .panel-body
      margin-top: 0
      border-style: dashed
      border-top: 0

  &.for-login_form
    display: inline-block
    margin-top: 65px
    width: 400px
    text-align: left

.panels .panel
  margin-top: 15px

  &:first-child
    margin-top: 0

.panel-header
  +acts_as_panel_header
  border-radius: 5px 5px 0 0

.panel-header_link
  +acts_as_panel_header_link

.panel-body
  +acts_as_panel_body
  border-radius: 0 0 5px 5px

  &.has-p15
    padding: 15px

  &.is-dark
    background: $blue_light

p.panel-text
  margin: 25px 0 0 0

  &:first-child
    margin-top: 0

