@import 'public/imports'

.header
  position: relative
  height: 50px
  color: #fff
  text-align: center
  background: linear-gradient(lighten($light_500, 5%), $light_500)
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25)
  border-bottom: 1px solid rgba(0, 0, 0, .3)
  z-index: 2

  &.is-hidden
    opacity: 0

  &.is-fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 100

