@import 'form/imports'

.text_box,
.select_box,
.textarea,
.check_box,
.check_boxes_list,
.radio_buttons_list,
.file_box
  margin-bottom: 15px

  input[type="text"],
  input[type="password"],
  textarea,
  select
    display: block

  label.control-label
    display: block
    font-size: 12px
    font-weight: bold
    +no_select

    &.required
      margin-left: -8px

  abbr
    position: relative
    top: -2px
    border: none
    color: #c93636

  .hint
    display: block
    margin: 5px 10px 0
    font-size: 12px
    line-height: 15px

  &.is-stand_alone
    margin-bottom: 0
